/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.like-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.2s;
}


.like-button:active {
    transform: scale(1.2);
}

.like-button.liked {
    color: #ff0000;
}

.playlist {
    position: relative;
}

.chatbox {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 12px;
    background-color: #007FEB;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
    max-width: 80px;
    /* Set a maximum width for the chatbox */
    white-space: nowrap;
    /* Prevent text wrapping */
    overflow: hidden;
    /* Hide text that overflows the chatbox */
    text-overflow: ellipsis;
    /* Add ellipsis for overflowing text */
}
